{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %}Allocations {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="container-fluid py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container container-fluid">
            {% comment %} This is a tab for the allocation summary {%endcomment%}

            <div class="tab-content" id="myTabContent" style="height: 80vh">
              <div
                class="tab-pane fade show"
                id="tab{{ program.id }}"
                role="tabpanel"
                aria-labelledby="tab{{ program.id }}-tab"
              >
                <h3>Summary</h3>
                <div
                  class="table-responsive p-0"
                  style="height: 65vh"
                  id="allocation-table"
                ></div>
              </div>
              {% for program in programs %}
              <div
                class="tab-pane fade {% if forloop.first %}show{% endif %}"
                id="tab{{ program.id }}"
                role="tabpanel"
                aria-labelledby="tab{{ program.id }}-tab"
              >
                <h3>{{program.name}}</h3>
                <div class="table-responsive p-0" style="height: 60vh">
                  <div id="example-table"></div>
                </div>
              </div>
              {% endfor %}
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="" role="presentation">
                <a
                  class="btn btn-sm btn-dark"
                  id="tab{{ program.id }}"
                  data-bs-toggle="tab"
                  data-bs-target="#tab{{ program.id }}"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  @click="fetchData(`{{program.code}}`)"
                >
                  summary
                </a>
              </li>
              {% for program in programs %}
              <li class="" role="presentation">
                <a
                  class="tab-link {% if forloop.first %}active{% endif %}"
                  id="tab{{ program.id }}"
                  data-bs-toggle="tab"
                  data-bs-target="#tab{{ program.id }}"
                  type="button"
                  role="tab"
                  @click="fetchData(`{{program.code}}`)"
                  aria-controls="home"
                  aria-selected="true"
                >
                  {{program.code}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  <script>
    const app = Vue.createApp({
      mounted() {
        const data = [
          {
            id: 1,
            name: "Billy Bob",
            age: "12",
            _children: [
              { id: 2, name: "Mary May", age: "1" }, //child rows nested under billy bob
              { id: 3, name: "Christine Lobowski", age: "42" },
              {
                id: 4,
                name: "Brendon Philips",
                age: "125",
                _children: [
                  { id: 5, name: "Margret Marmajuke", age: "16" }, //child rows nested under brendon philps
                  { id: 6, name: "Frank Peoney", age: "12" },
                ],
              },
            ],
          },
          { id: 7, name: "Jenny Jane", age: "1" },
          {
            id: 8,
            name: "Martha Tiddly",
            age: "42",
            _children: [
              { id: 9, name: "Frasier Franks", age: "125" }, //child row nested under martha tiddly
            ],
          },
          { id: 10, name: "Bobby Green", age: "11" },
        ];

        var table = new Tabulator("#allocation-table", {
          height: "311px",
          data: data,
          dataTree: true,
          dataTreeStartExpanded: true,
          columns: [
            { title: "id", field: "id", width: 200, responsive: 0 },
            { title: "Name", field: "name", width: 200, responsive: 0 },
            { title: "Age", field: "age", width: 200, responsive: 0 }, //never hide this column
          ],
        });
      },
      data() {
        return {
          id: "",
          url: "http://localhost:8000/api",
        };
      },
      delimiters: ["[[", "]]"],
      methods: {
        greet() {
          console.log("Hello");
        },
        async fetchData(code) {
          const response = await fetch(`${this.url}/allocations`, {
            method: "GET",
            headers: {
              "Content-Type": "Application/Json",
            },
          });

          if (response.ok) {
            const data = await response.json();

            console.log(data);
          } else {
            throw Error("Something is not right", response.status);
          }
        },
      },
    }).mount("#app");
  </script>
  {% endblock javascripts %}
</div>
