{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %}Allocations {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="container-fluid py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container container-fluid">
            <div class="tab-content" id="myTabContent">
              {% for program in programs %}
              <div
                class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                id="tab{{ program.id }}"
                role="tabpanel"
                aria-labelledby="tab{{ program.id }}-tab"
              >
                {{ program.name }}
              </div>
              {% endfor %}
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              {% for program in programs %}
              <li class="" role="presentation">
                <a
                  class="tab-link {% if forloop.first %} active{% endif %}"
                  id="tab{{ program.id }}"
                  data-bs-toggle="tab"
                  data-bs-target="#tab{{ program.id }}"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  {{program.code}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  <script>
    const app = Vue.createApp({
      data() {
        return {
          title: "",
          code: "",
          course_description: "",
        };
      },
      delimiters: ["[[", "]]"],

      methods: {
        resetState() {
          this.title = "";
          this.code = "";
          this.course_description = "";
        },
        setCourse(id, title, code, course_description) {
          this.id = id;
          this.title = title;
          this.code = code;
          this.course_description = course_description;
        },
        async updateCourse() {
          const tokenField = document.querySelector(
            'input[name="csrfmiddlewaretoken"]'
          );

          let csrfToken = tokenField.value;

          const response = await fetch(`/courses/update/${this.id}`, {
            headers: {
              "Content-Type": "Application/Json",
              "X-CSRFToken": csrfToken,
              "X-Requested-With": "XMLHttpRequest",
            },
            method: "POST",
            body: JSON.stringify({
              code: this.code,
              title: this.title,
              course_description: this.course_description,
            }),
          });

          window.location.reload();
        },
      },
    }).mount("#app");
  </script>
  {% endblock javascripts %}
</div>
