{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{{ form.media.css }}
<style></style>
{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class=" mb-4">
        <div class="card-header pb-0">
          <h3>{{department.name}}</h3>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#home"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Details
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#profile"
                  type="button"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                >
                  Programs
                </button>
              </li>
            </ul>
            <div class="tab-content mt-4" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <h5 class="mb-3">Department Details</h5>
                <div class="row">
                  <div class="col-md-6">
                    <h6>Department Head</h6>
                    <p>{{department.department_head}}</p>
                    <h6>Department Details</h6>
                    <p>{{ department.description }}</p>
                  </div>
                  <div class="col-md-6">
                    <h6>School</h6>
                    <p>{{department.school}}</p>
                    <h6>Contact Email</h6>
                    <p>{{department.contact_email}}</p>
                   
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <h6>Programs Offered under this program</h6>
                <div class="card-body px-0 pt-0 pb-2">
                  <div id="programTable" class="table-responsive p-0">
                  
                  </div>

                    <div class="modal modal-lg fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Update Program Programs</h5>
                              <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          <form action="" method="post">
                            <div class="modal-body" style="overflow-y: scroll; height:400px;">
                              {% csrf_token %}
                              {{ form|crispy }}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-sm bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-sm bg-gradient-dark">Save changes</button>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{{ form.media.js }}

<script>
  const degreeLevelFormatter =(cell, formatterParams, onRendered)=>{
    let value = cell.getValue();
    if (value == 'D'){return "Diploma";}
    else if (value == "B") return "Bachelor's";
    else if (value == "PGd") return "Post Graduate Diploma";
    else if (value == "M") return "Master's"
  }
  let id = 1;
  let table = new Tabulator("#programTable",{
    ajaxURL: `${window.location.origin}/api/programs-in-department/department/${id}/`,
    layout:'fitColumns',
    columns:[                 //define the table columns
        {title:"id", field:"id",width:100},
        {title:"Code", field:"code"},
        {title:"Name", field:"name", width:95},
        {title:"Degree Level", field:"degree_level",formatter:degreeLevelFormatter},
    ],
  })



</script>
{% endblock javascripts %}
