asgiref
async-timeout
black
click
colorama
crispy-bootstrap4
dj-database-url
Django
django-appconf
django-cors-headers
django-crispy-forms
django-jazzmin
django-redis
django-select2
djangorestframework
drf-yasg
gunicorn
inflection
mypy-extensions
packaging
pathspec
Pillow
platformdirs
python-dotenv
pytz
PyYAML
redis
sqlparse
typing_extensions
tzdata
uritemplate
whitenoise