asgiref
async-timeout
autopep8
beautifulsoup4
black.0
click
colorama
crispy-bootstrap4
dj-database-url
Django3
django-appconf
django-cors-headers
django-crispy-forms
django-environ
django-jazzmin
django-redis
django-select2
django-select2-forms
django-sortedm2m
djangorestframework
gunicorn.0
isort
mypy-extensions
packaging
pathspec
Pillow.0
platformdirs
pycodestyle
python-dotenv
pytz
redis
soupsieve
sqlparse
toml
tzdata
whitenoise
