{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4" id="app">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Departments</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Department Name</th>
                </tr>
              </thead>
              <tbody>

                {% for department in departments %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/grad.png' %}" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{department.name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{ department.contact_email }}</p>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{department.code}}</span>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">School</p>
                    <p class="text-xs text-secondary mb-0">{{department.school}}</p>
                  </td>
                  <td class="align-middle">
                    <button type="button" @click="setCourseUpdate(`{{department.name}}`,`{{department.department_head}}`,`{{department.contact_email}}`,`{{department.description}}`)"
                      class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Edit
                    </button>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Department Info</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      {% csrf_token %}


                      <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
                          Name<span class="asteriskField">*</span> </label>
                        <div> 
                          <input type="text" name="name" maxlength="500" class="textinput form-control" required id="id_name"
                            :value=[[name]]> 
                        </div>
                      </div>
                      <div id="div_id_department_head" class="form-group"> <label for="id_department_head" class=" requiredField">
                          Department head<span class="asteriskField">*</span> </label>
                        <div> 
                          <input type="text" name="department_head" maxlength="255" class="textinput form-control" required
                            id="id_department_head" :value=[[department_head]]> 
                        </div>
                      </div>
                      <div id="div_id_contact_email" class="form-group"> <label for="id_contact_email" class=" requiredField">
                          Contact email<span class="asteriskField">*</span> </label>
                          <div> 
                            <input type="email" name="contact_email" maxlength="80" class="emailinput form-control" required
                              id="id_contact_email" :value=[[contact_email]]> 
                          </div>
                      </div>
                      <div id="div_id_description" class="form-group"> <label for="id_description" class=" requiredField">
                          Description<span class="asteriskField">*</span> </label>
                        <div> 
                          <textarea name="description" cols="40" rows="5" class="textarea form-control" required id="id_description">[[description]]</textarea> 
                          </div>
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-gradient-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>

  const app = Vue.createApp({
    mounted() {

    },
    data() {
      return {
        count: 0,
        id:'',
        name: '',
        department_head:'',
        contact_email: '',
        description: ''
      }
    },
    delimiters:['[[',']]'],
    methods: {
      setCourseUpdate(id,name,department_head,email,description) {
        this.name = name
        this.department_head = department_head
        this.contact_email = email
        this.description = description
      }
    }


  }).mount('#app')

</script>
{% endblock javascripts %}