  {% load static %}
  
  <!--   Core JS Files   -->

  <script src="{% static 'assets/js/vue.global.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>

  <script src="{% static 'assets/js/dark-mode-handler.js' %}"></script>



  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>