{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %}Allocations {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="container-fluid py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm active" id="bcs-tab" @click="fetchCourseData(`{{BCS.id}}`)"
                  data-bs-toggle="tab" data-bs-target="#bcs" type="button" role="tab" aria-controls="bcs"
                  aria-selected="true">{{ BCS.code }}</button>
              </li>
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm" id="bse-tab" @click="fetchCourseData(`{{BSE.id}}`)" data-bs-toggle="tab"
                  data-bs-target="#bse" type="button" role="tab" aria-controls="bse"
                  aria-selected="false">{{BSE.code}}</button>
              </li>
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm" id="bcsf-tab" @click="fetchCourseData(`{{BCSF.id}}`)" data-bs-toggle="tab"
                  data-bs-target="#bcsf" type="button" role="tab" aria-controls="bcsf"
                  aria-selected="false">{{BCSF.code}}</button>
              </li>
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm" id="bist-tab" @click="fetchCourseData(`{{BIST.id}}`)" data-bs-toggle="tab"
                  data-bs-target="#bist" type="button" role="tab" aria-controls="bist"
                  aria-selected="false">{{BIST.code}}</button>
              </li>
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm" id="dcomp-tab" @click="fetchCourseData(`{{DCOMP.id}}`)" data-bs-toggle="tab"
                  data-bs-target="#dcomp" type="button" role="tab" aria-controls="dcomp"
                  aria-selected="false">{{DCOMP.code}}</button>
              </li>
              <li class="nav-item mt-4" role="presentation">
                <button class="btn btn-sm" id="bce-tab" @click="fetchCourseData(`{{BCE.id}}`)" data-bs-toggle="tab"
                  data-bs-target="#bce" type="button" role="tab" aria-controls="bce"
                  aria-selected="false">{{BCE.code}}</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="bcs" role="tabpanel" aria-labelledby="bcs-tab">
                <div class="container">
                  <h4 class="mt-2">{{BCS.name}}</h4>
                  <tablator tableData="[[programCourses]]" id=""/>
                </div>
              </div>

              <div class="tab-pane fade" id="bse" role="tabpanel" aria-labelledby="bse-tab">
                <div class="container">
                  <h4 class="mt-2">{{BSE.name}}</h4>
                  <tablator tableData="[[programCourses]]" />
                </div>
              </div>

              <div class="tab-pane fade" id="bcsf" role="tabpanel" aria-labelledby="bcsf-tab">
                <div class="container">
                  <h4 class="mt-2">{{BCSF.name}}</h4>
                  <tablator tableData="[[programCourses]]" />
                </div>
              </div>
              <div class="tab-pane fade" id="dcomp" role="tabpanel" aria-labelledby="dcomp-tab">
                <div class="container">
                  <h4 class="mt-2">{{DCOMP.name}}</h4>
                  <tablator tableData="[[programCourses]]" />
                </div>
              </div>
              <div class="tab-pane fade" id="bist" role="tabpanel" aria-labelledby="bist-tab">
                <div class="container">
                  <h4 class="mt-2">{{BIST.name}}</h4>
                  <tablator tableData="[[programCourses]]" />
                </div>
              </div>

              <div class="tab-pane fade" id="bce" role="tabpanel" aria-labelledby="bce-tab">
                <div class="container">
                  <h4 class="mt-2">{{BCE.name}}</h4>
                  <tablator tableData="[[programCourses]]" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  <script>

    const app = Vue.createApp({
      mounted() {
        fetch(`${this.url}`)
          .then((res) => res.json())
          .then((data) => {
            this.allocations = data;

            var customMutator = function (
              value,
              data,
              type,
              params,
              component
            ) {
              return `<td>${value}</td>\n`;
            };

            var table = new Tabulator("#allocation-table", {
              data: this.allocations,
              autoColumns: true,
              formatter: customFormatter,
              minHeight: 300,
              columns: [
                { title: "lecturer", field: "lecturer", formatter: "textarea" },
                {
                  title: "courses",
                  field: "courses",
                  formatter: customFormatter,
                  mutator: customMutator,
                },
              ],
            });

            function customFormatter(cell, formatterParams, onRendered) {
              const val = cell.getValue();
              const cellDiv = document.createElement("div");
              for (let i = 0; i < val.length; i++) {
                const valItemDiv = document.createElement("div");
                valItemDiv.textContent = val[i];
                valItemDiv.style.border = "purple 1px solid";
                cellDiv.appendChild(valItemDiv);
              }
              return cellDiv;
            }
          });
      },
      data() {
        return {
          id: "",
          url: `${window.location.origin}/api/allocations`,
          allocations: [],
          programCourses: []
        };
      },
      delimiters: ["[[", "]]"],
      methods: {
        greet() {
          console.log("Hello");
        },
        async fetchCourseData(id) {
          console.log(this.programCourses)
          const response = await fetch(`${window.location.origin}/api/courses-in-program/${id}/`);

          const data = await response.json();

          this.programCourses = data;
        }
      },
    });

    const tablu = {
      template: `<div id="table">
                  <p>[[id]]</p>
                </div>`,
      props: ['tableData','tableId'],
      data() { return { data: "something" } },
      delimiters: ["[[", "]]"]
    }
    app.component('tablator', tablu);
    app.mount("#app");
  </script>
  {% endblock javascripts %}
</div>