{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %} Courses {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .jexcel {
    /* Set a border for the entire jExcel table */
    color: black;
  }

  .jexcel thead th {
    color: white;
    background-color: #31385f;
  }
</style>
{% endblock stylesheets %} {% block content %}

<div class="container card mb-4 py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="card-header pb-0">
        <h3>Enrollments</h3>
        <button
          type="button"
          class="btn btn-sm bg-gradient-dark"
          data-bs-toggle="modal"
          data-bs-target="#ProgramCreateModal"
        >
          Add Enrollment
        </button>
      </div>
      <div class="">
        <div class="card-body px-0 pt-0 pb-2">
          {% comment %} enrollment table {% endcomment %}
          <p class="loading text-center" style="display: none">
            <img src="{% static 'assets/img/loading.gif' %}" width="50" />
          </p>
          <div class="row">
           <div class="col-md-2">
            <select id="filter-field" class="form-select">
              <option></option>
              <option value="program">Program</option>
              <option value="intake">Intake</option>
              <option value="students_enrolled">Students Enrolled</option>
            </select>
           </div>
            <div class="col-md-2">
              <select id="filter-type" class="form-select">
                <option value="=">=</option>
                <option value="<"><</option>
                <option value="<="><=</option>
                <option value=">">></option>
                <option value=">=">>=</option>
                <option value="!=">!=</option>
                <option value="like">like</option>
              </select>
            </div>
            <div class="col-md-4">
              <input
                id="filter-value"
                class="form-control"
                type="text"
                placeholder="Value to filter"
              />
            </div>
            <div class="col-md-3">
              <button id="filter-clear" class="btn btn-sm btn-dark">
                <i class="fa fa-filter" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div id="spreadsheet"></div>
          {% comment %} modal for creating a enrollment {% endcomment %}

          <div
            class="modal modal-lg fade"
            id="ProgramCreateModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Create Enrollment
                  </h5>
                  <button
                    type="button"
                    class="btn-close text-dark"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    @click="resetState()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="" id="create-form">
                    {% csrf_token %} {{form|crispy}}
                    <div class="modal-footer">
                      <button
                        type="button"
                        @click="resetState()"
                        class="btn bg-gradient-dark"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn bg-gradient-primary">
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% comment %} form for updating a course {% endcomment %}

          <div
            class="modal fade"
            id="modal-default"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modal-default"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal- modal-dialog-centered modal-"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-default">
                    [[program]] ([[intake]])
                  </h6>
                  <button
                    type="button"
                    class="btn-close text-dark"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    @click="resetState()"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="" id="create-form">
                    {% csrf_token %}

                    <div id="div_id_intake" class="form-group">
                      <label for="id_intake" class="requiredField">
                        Intake<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <input
                          type="text"
                          v-model="intake"
                          class="form-control"
                          disabled
                        />
                      </div>
                    </div>
                    <div id="div_id_program" class="form-group">
                      <label for="id_program" class="requiredField">
                        Program<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <input
                          type="text"
                          v-model="program"
                          class="form-control"
                          disabled
                        />
                      </div>
                    </div>
                    <div id="div_id_students_enrolled" class="form-group">
                      <label for="id_students_enrolled" class="requiredField">
                        Students enrolled<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <input
                          type="number"
                          name="students_enrolled"
                          min="0"
                          class="numberinput form-control"
                          required
                          id="id_students_enrolled"
                          v-model="students_enrolled"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-sm bg-gradient-dark"
                        @click="updateEnrollment()"
                      >
                        Update Enrollment data
                      </button>
                      <button
                        type="button"
                        class="btn btn-link ml-auto"
                        data-bs-dismiss="modal"
                        @click="resetState()"
                      >
                        Close
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  // create a vue app inside this template
  const app = Vue.createApp({
    data() {
      return {
        id: "",
        intake: "",
        program: "",
        students_enrolled: 0,
      };
    },
    delimiters: ["[[", "]]"],
    mounted() {
      const loading = document.querySelector(".loading");

      loading.style.display = "block";

      fetch("http://localhost:8000/api/enrollments")
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          setTimeout(() => {
            loading.style.display = "none";
            const rows = data.map((item) => ({
              id: item.id,
              program: item.program.name,
              intake: item.intake.name,
              students_enrolled: item.students_enrolled,
            }));

            var openIcon = function (value, data, cell, row, options) {
              //plain text value
              return "<i class='fa fa-search'></i>";
            };

            var table = new Tabulator("#spreadsheet", {
              data: rows, //assign data to table
              autoColumns: true, //create columns from data field names
              layout: "fitColumns", //fit columns to width of table
              responsiveLayout: "hide", //hide columns that don't fit on the table
              addRowPos: "top", //when adding a new row, add it to the top of the table
              history: true, //allow undo and redo actions on the table
              pagination: "local", //paginate the data
              paginationSize: 10, //allow 7 rows per page of data
              paginationCounter: "rows", //display count of paginated rows in footer
              movableColumns: true,
              columns: [
                //define the table columns
                { title: "program", field: "program", editor: "input" },
                { title: "intake", field: "intake" },
                { title: "created_at", field: "created_at" },
                { title: "action", sortable: false, formatter: openIcon },
              ],
            });

            //Define variables for input elements
            var fieldEl = document.getElementById("filter-field");
            var typeEl = document.getElementById("filter-type");
            var valueEl = document.getElementById("filter-value");

            //Update filters on value change
            fieldEl.addEventListener("change", updateFilter);
            typeEl.addEventListener("keyup", updateFilter);

            //Clear filters on "Clear Filters" button click
            document
              .getElementById("filter-clear")
              .addEventListener("click", function () {
                fieldEl.value = "";
                valueEl.value = "";

                table.clearFilter();
              });

          //Trigger setFilter function with correct parameters
            function updateFilter(){
              var filterVal = fieldEl.options[fieldEl.selectedIndex].value;
              var typeVal = typeEl.options[typeEl.selectedIndex].value;

              var filter = filterVal == "function" ? customFilter : filterVal;

              if(filterVal == "function" ){
                typeEl.disabled = true;
                valueEl.disabled = true;
              }else{
                typeEl.disabled = false;
                valueEl.disabled = false;
              }

              if(filterVal){
                table.setFilter(filter,typeVal, valueEl.value);
              }
            }

            //Update filters on value change
            document.getElementById("filter-field").addEventListener("change", updateFilter);
            document.getElementById("filter-type").addEventListener("change", updateFilter);
            document.getElementById("filter-value").addEventListener("keyup", updateFilter);
            table.on("rowClick", (e, id, data, row) => {
              $("#modal-default").modal("show");

              this.setEnrollment(
                id._row.data.id,
                id._row.data.program,
                id._row.data.intake,
                id._row.data.students_enrolled
              );

              console.log(
                "id",
                this.id,
                "program",
                this.program,
                "intake",
                this.intake,
                "students_enrolled",
                this.students_enrolled
              );
            });
          }, 200);
        })
        .catch((error) => {
          console.error("Error fetching data:", error);
        });
    },
    methods: {
      formatReadableDate(dateString) {
        const date = new Date(dateString);
        const options = {
          year: "numeric",
          month: "long",
          day: "numeric",
          hour: "2-digit",
          minute: "2-digit",
        };
        return date.toLocaleDateString("en-US", options);
      },
      setEnrollment(id, program, intake, students_enrolled) {
        this.id = id;
        this.program = program;
        this.intake = intake;
        this.students_enrolled = students_enrolled;
      },
      resetState() {
        this.program = "";
        this.intake = "";
        this.students_enrolled = "";
      },
      async updateEnrollment(){
        const tokenField = document.querySelector(
          'input[name="csrfmiddlewaretoken"]'
        );

        let csrfToken = tokenField.value;
        const body = {
          students_enrolled: this.students_enrolled,
        };

        const response = await fetch(`/api/enrollment/${this.id}/`, {
          method: "POST",
          headers: {
            "Content-Type": "Application/Json",
            "X-CSRFToken": csrfToken,
            "X-Requested-With": "XMLHttpRequest",
          },
          body: JSON.stringify(body),
        });

        const data = await response.json();

        console.log(data);

        window.location.reload();
      }
    },
  });

  app.mount("#app");
</script>
{% endblock javascripts %}
