{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block stylesheets %} {{ form.media.css }} {% endblock stylesheets %} {% block content %}

<div class="card mb-4 container-fluid py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="card-header pb-0">
          <h6>Enrollments</h6>
        </div>
        <div class="card-header pb-0">
          <button
            type="button"
            class="btn btn-sm bg-gradient-dark"
            data-bs-toggle="modal"
            data-bs-target="#ProgramCreateModal"
          >
            Create Enrollment
          </button>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="dtBasicExample" class="display" style="width: 100%">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Program
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Intake
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Students Enrolled
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for enrollment in enrollments %}
                <tr>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{enrollment.program}}
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{enrollment.intake}}
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{ enrollment.students_enrolled }}
                    </p>
                  </td>
                  <td class="align-middle">
                    <button
                      type="button"
                      class="btn btn-sm bg-gradient-dark"
                      data-bs-toggle="modal"
                      data-bs-target="#programUpdateModal"
                      @click="setEnrollmentState(`{{enrollment.id}}`,`{{enrollment.program}}`,`{{enrollment.intake}}`,`{{ enrollment.students_enrolled }}`)"
                    >
                      <i class="fas fa-pen fa-2x"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Program
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Intake
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Students Enrolled
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Action
                </th>
              </tfoot>
            </table>
            {% comment %} Program Create form {% endcomment %}
            <div
              class="modal modal-lg fade"
              id="ProgramCreateModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Create Enrollment
                    </h5>
                    <button
                      type="button"
                      class="btn-close text-dark"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      @click="resetState()"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action="" id="create-form">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">{{form.program|as_crispy_field}}</div>
                        <div class="col">{{ form.intake|as_crispy_field }}</div>
                      </div>
                      <div class="form-group">
                        {{ form.students_enrolled |as_crispy_field}}
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          @click="resetState()"
                          class="btn bg-gradient-dark"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn bg-gradient-primary">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% comment %} modal for updating enrollment {% endcomment %}
            <div
              class="modal fade"
              id="programUpdateModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Edit Enrollment
                    </h5>
                    <button
                      type="button"
                      class="btn-close text-dark"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div id="div_id_intake" class="form-group">
                      <label for="id_intake" class="requiredField">
                        Intake<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <select
                          name="intake"
                          disabled
                          class="select form-control"
                          required
                          id="id_intake"
                        >
                          <option value="" selected>[[intake]]</option>
                        </select>
                      </div>
                    </div>
                    <div id="div_id_program" class="form-group">
                      <label for="id_program" class="requiredField">
                        Program<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <select
                          name="program"
                          disabled
                          class="select form-control"
                          required
                          id="id_program"
                        >
                          <option value="1">[[program_name]]</option>
                        </select>
                      </div>
                    </div>
                    <div id="div_id_students_enrolled" class="form-group">
                      <label for="id_students_enrolled" class="requiredField">
                        Students enrolled<span class="asteriskField">*</span>
                      </label>
                      <div>
                        <input
                          type="number"
                          name="students_enrolled"
                          value="0"
                          min="0"
                          class="form-control"
                          v-model="students_enrolled"
                          required
                          id="id_students_enrolled"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn bg-gradient-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn bg-gradient-dark">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>
{% endblock content %} {% block javascripts %}
<script>
  const app = Vue.createApp({
    data() {
      return {
        id: "",
        intake: "",
        program_name: "",
        students_enrolled: 0,
      };
    },
    delimiters: ["[[", "]]"],
    methods: {
      setEnrollmentState(id, intake, program_name, students_enrolled) {
        this.id = id;
        this.intake = intake;
        this.program_name = program_name;
        this.students_enrolled = students_enrolled;
      },
    },
  }).mount("#app");
</script>
{% endblock javascripts %}
