{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% block styles %}
{{form.media.css}}
<style>

</style>
{% endblock styles %}

<div class="container card mb4 mt-4">
    <h3>{{program.name}}</h3>
    <br>
    <button button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
        Program Structure</button>
    <div class="mt-4">

        {% for Structure in Structure %}
        {{Structure.name}}
        {% endfor %}

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create the Course Structure for this course</h5>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="post">
                        <div class="modal-body" style="overflow-y: scroll; height:400px;">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    {{form.name|as_crispy_field}}
                                </div>
                                <div class="col">
                                    {{form.enrollment|as_crispy_field}}
                                </div>
                            </div>
                            <div class="form-group">
                                {{form.program|as_crispy_field}}
                            </div>
                            <div class="form-group">
                                {{form.courses|as_crispy_field}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm btn-dark">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{form.media.js}}

<script>
$('.select2-container').css("width","100%");
</script>

{% endblock javascripts %}