{% extends 'layouts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4" id="app">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Courses</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                </tr>
              </thead>
              <tbody>

                {% for course in courses %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/courses.png' %}" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm  text-primary">{{course.code}}</h6>
                        <p class="text-xs text-secondary mb-0">{{course.title}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button type="button" class="btn btn-sm bg-gradient-link mb-3" data-bs-toggle="modal"
                      data-bs-target="#modal-default"
                      @click="setCourse(`{{course.id}}`,`{{course.title}}`,`{{course.code}}`,`{{course.course_description}}`)">Course
                      Details</button>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
            
                    {% for num in page_obj.paginator.page_range %}
                      {% if num == page_obj.number %}
                        <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
              aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">[[code]] [[title]]</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"
                      @click="resetState()">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      {% csrf_token %}
                      <div id="div_id_code" class="form-group"> <label for="id_code" class=" requiredField">
                          Code<span class="asteriskField">*</span> </label>
                        <div> <input type="text" name="code" maxlength="10" class="textinput form-control" required
                            id="id_code" v-model="code"> </div>
                      </div>
                      <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                          Title<span class="asteriskField">*</span> </label>
                        <div> <input type="text" name="title" maxlength="225" class="textinput form-control" required
                            id="id_title" v-model="title"> </div>
                      </div>
                      <div id="div_id_course_description" class="form-group"> <label for="id_course_description"
                          class=" requiredField">
                          Course description<span class="asteriskField">*</span> </label>
                        <div>
                          <textarea name="course_description" v-model="course_description" cols="40" rows="10"
                            class="textarea form-control" required id="id_course_description"></textarea>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm bg-gradient-dark" @click="updateCourse()">Update
                      Course</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal"
                      @click="resetState()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  const app = Vue.createApp({
    data() {
      return {
        title: '',
        code: '',
        course_description: ''
      }
    },
    delimiters: ['[[', ']]'],

    methods: {
      resetState() {
        this.title = ''
        this.code = ''
        this.course_description = ''
      },
      setCourse(id, title, code, course_description) {
        this.id = id
        this.title = title
        this.code = code
        this.course_description = course_description
      },
      async updateCourse() {

        const tokenField = document.querySelector('input[name="csrfmiddlewaretoken"]');

        let csrfToken = tokenField.value;

        const response = await fetch(`/courses/update/${this.id}`, {
          headers: {
            'Content-Type': 'Application/Json',
            'X-CSRFToken': csrfToken,
            'X-Requested-With': 'XMLHttpRequest'
          },
          method : "POST",
          body:JSON.stringify({
            code : this.code,
            title : this.title,
            course_description : this.course_description
          })
        });

        window.location.reload()
      }
    }
  }).mount('#app');
</script>
{% endblock javascripts %}