{% extends 'layouts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Courses {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .jexcel {
    /* Set a border for the entire jExcel table */
    color: black;
  }

  .jexcel thead th {
    color: white;
    background-color: #31385F;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container card mb-4  py-4" id="app">
  <div class="row">
    <div class="col-12">
      <div class="card-header pb-0">
        <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-toggle="modal"
          data-bs-target="#ProgramCreateModal">
          Add Course
        </button>
      </div>
      <div class="">
        <div class="card-body px-0 pt-0 pb-2 ">
          {% comment %}
          course table
          {% endcomment %}
          <p class="loading text-center" style="display: none;">Loading ...</p>
          <div class="row">
            <div class="col-md-3">
              <select id="filter-field" class="form-select">
                <option></option>
                <option value="code">Code</option>
                <option value="title">Title</option>
              </select>
            </div>
            <div class="col-md-4">
              <input id="filter-value" class="form-control" type="text" placeholder="Value to filter">
            </div>
            <div class="col-md-3">
              <button id="filter-clear" class="btn btn-dark">Clear Filter</button>
            </div>
          </div>
          <div id="spreadsheet"></div>
          {% comment %}
          modal for creating a course
          {% endcomment %}

          <div class="modal modal-lg fade" id="ProgramCreateModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Create Course
                  </h5>
                  <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"
                    @click="resetState()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="" id="create-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        {{form.title|as_crispy_field}}
                      </div>
                      <div class="col">
                        {{ form.code|as_crispy_field }}
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.course_description|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" @click="resetState()" class="btn bg-gradient-dark" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn bg-gradient-primary">
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% comment %}
          form for updating a course
          {% endcomment %}

          <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
            aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-default">[[code]] [[title]]</h6>
                  <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"
                    @click="resetState()">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    {% csrf_token %}
                    <div id="div_id_code" class="form-group"> <label for="id_code" class=" requiredField">
                        Code<span class="asteriskField">*</span> </label>
                      <div>
                        <input type="text" name="code" maxlength="10" class="textinput form-control" required
                          id="id_code" v-model="code">
                      </div>
                    </div>
                    <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                        Title<span class="asteriskField">*</span> </label>
                      <div>
                        <input type="text" name="title" maxlength="225" class="textinput form-control" required
                          id="id_title" v-model="title">
                      </div>
                    </div>
                    <div id="div_id_course_description" class="form-group"> <label for="id_course_description"
                        class=" requiredField">
                        Course description<span class="asteriskField">*</span> </label>
                      <div>
                        <textarea name="course_description" v-model="course_description" cols="40" rows="10"
                          class="textarea form-control" required id="id_course_description"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm bg-gradient-dark" @click="updateCourse()">Update
                    Course</button>
                  <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal"
                    @click="resetState()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  // create a vue app inside this template
  const app = Vue.createApp({
    data() {
      return {
        title: '',
        code: '',
        course_description: ''
      };
    },
    delimiters: ['[[', ']]'],
    mounted() {
      const loading = document.querySelector('.loading');

      //Define variables for input elements
      var fieldEl = document.getElementById("filter-field");
      var typeEl = document.getElementById("filter-type");
      var valueEl = document.getElementById("filter-value");



      loading.style.display = "block";

      fetch("http://localhost:8000/api/courses")
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          setTimeout(() => {
            loading.style.display = 'none';


            const rows = data.map(item => ({
              id: item.id,
              code: item.code,
              title: item.title,
              course_description: item.course_description,
              created_at: this.formatReadableDate(item.created_at)
            }));

            var openIcon = function (value, data, cell, row, options) { //plain text value
              return "<i class='fa fa-search'></i>"
            };

            var table = new Tabulator("#spreadsheet", {
              data: rows, //assign data to table
              autoColumns: true, //create columns from data field names
              layout: "fitColumns",      //fit columns to width of table
              responsiveLayout: "hide",  //hide columns that don't fit on the table
              addRowPos: "top",          //when adding a new row, add it to the top of the table
              history: true,             //allow undo and redo actions on the table
              pagination: "local",       //paginate the data
              paginationSize: 10,         //allow 7 rows per page of data
              paginationCounter: "rows", //display count of paginated rows in footer
              movableColumns: true,
              columns: [                 //define the table columns
                { title: "code", field: "code", editor: "input" },
                { title: "Title", field: "title" },
                { title: "created_at", field: "created_at" },
                { title: "action", sortable: false, formatter: openIcon },
              ],
            });


            //Update filters on value change
            document.getElementById("filter-field").addEventListener("change", updateFilter);
            document.getElementById("filter-value").addEventListener("keyup", updateFilter);

            //Clear filters on "Clear Filters" button click
            document.getElementById("filter-clear").addEventListener("click", function () {
              fieldEl.value = "";
              valueEl.value = "";

              table.clearFilter();
            });

            //Trigger setFilter function with correct parameters
            function updateFilter() {
              var filterVal = fieldEl.options[fieldEl.selectedIndex].value;
              var typeVal = "like";


              if (filterVal) {
                table.setFilter(filterVal, typeVal, valueEl.value);
              }
            }

            table.on('rowClick', (e, id, data, row) => {
              $('#modal-default').modal('show');
              this.setCourse(
                id._row.data.id,
                id._row.data.title,
                id._row.data.code,
                id._row.data.course_description
              )
            })
          }, 200);
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
    },
    methods: {
      formatReadableDate(dateString) {
        const date = new Date(dateString);
        const options = {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
        };
        return date.toLocaleDateString('en-US', options);
      },
      resetState() {
        this.title = ''
        this.code = ''
        this.course_description = ''
      },
      setCourse(id, title, code, course_description) {
        this.id = id
        this.title = title
        this.code = code
        this.course_description = course_description
      },
      async updateCourse() {

        const tokenField = document.querySelector('input[name="csrfmiddlewaretoken"]');

        let csrfToken = tokenField.value;

        const response = await fetch(`/courses/update/${this.id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'Application/Json',
            'X-CSRFToken': csrfToken,
            'X-Requested-With': 'XMLHttpRequest'
          },
          body: JSON.stringify({
            title: this.title,
            code: this.code,
            course_description: this.course_description
          })
        });
        
        window.location.reload()
      }
    }
  })

  app.mount('#app'); 
</script>
{% endblock javascripts %}