{% extends 'layouts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Courses {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4" id="app">
 
  <div class="row">
    <div class="col-12">
      <div class="card mb-4 container mt-4">
        <div class="card-header pb-0">
          <h3>Courses</h3>
        </div>
        <div class="card-header pb-0">
          <button
            type="button"
            class="btn btn-sm bg-gradient-dark"
            data-bs-toggle="modal"
            data-bs-target="#ProgramCreateModal"
          >
            Add Course
          </button>
        </div>

        <div class="card-body px-0 pt-0 pb-2 ">
          <div class="table-responsive p-0 ">
            <table
            id="dtBasicExample"
            class="table table-striped table-bordered table-sm "
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th class="text-dark">Code</th>
                <th class="text-dark">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <td class="mb-0 text-dark text-sm">
                    <b >{{course.code}}</b> {{course.title}}
                </td>
                <td class="align-middle">
                  <button type="button" class="btn btn-sm bg-gradient-link mb-3" data-bs-toggle="modal"
                    data-bs-target="#modal-default"
                    @click="setCourse(`{{course.id}}`,`{{course.title}}`,`{{course.code}}`,`{{course.course_description}}`)">
                    <i class="fas fa-eye fa-xs"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
              </tr>
            </tfoot>
          </table>
          <div
          class="modal modal-lg fade"
          id="ProgramCreateModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Create Program
                </h5>
                <button
                  type="button"
                  class="btn-close text-dark"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  @click="resetState()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" action="" id="create-form">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      {{form.title|as_crispy_field}}
                    </div>
                    <div class="col">
                      {{ form.code|as_crispy_field }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.course_description|as_crispy_field }}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      @click="resetState()"
                      class="btn bg-gradient-dark"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      class="btn bg-gradient-primary"
                    >
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
            {% comment %}
              form for updating a course
            {% endcomment %}
              
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
              aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">[[code]] [[title]]</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"
                      @click="resetState()">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      {% csrf_token %}
                      <div id="div_id_code" class="form-group"> <label for="id_code" class=" requiredField">
                          Code<span class="asteriskField">*</span> </label>
                        <div> <input type="text" name="code" maxlength="10" class="textinput form-control" required
                            id="id_code" v-model="code"> </div>
                      </div>
                      <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                          Title<span class="asteriskField">*</span> </label>
                        <div> <input type="text" name="title" maxlength="225" class="textinput form-control" required
                            id="id_title" v-model="title"> </div>
                      </div>
                      <div id="div_id_course_description" class="form-group"> <label for="id_course_description"
                          class=" requiredField">
                          Course description<span class="asteriskField">*</span> </label>
                        <div>
                          <textarea name="course_description" v-model="course_description" cols="40" rows="10"
                            class="textarea form-control" required id="id_course_description"></textarea>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm bg-gradient-dark" @click="updateCourse()">Update
                      Course</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal"
                      @click="resetState()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  const app = Vue.createApp({
    data() {
      return {
        title: '',
        code: '',
        course_description: ''
      }
    },
    delimiters: ['[[', ']]'],

    methods: {
      resetState() {
        this.title = ''
        this.code = ''
        this.course_description = ''
      },
      setCourse(id, title, code, course_description) {
        this.id = id
        this.title = title
        this.code = code
        this.course_description = course_description
      },
      async updateCourse() {

        const tokenField = document.querySelector('input[name="csrfmiddlewaretoken"]');

        let csrfToken = tokenField.value;

        const response = await fetch(`/courses/update/${this.id}`, {
          headers: {
            'Content-Type': 'Application/Json',
            'X-CSRFToken': csrfToken,
            'X-Requested-With': 'XMLHttpRequest'
          },
          method: "POST",
          body: JSON.stringify({
            code: this.code,
            title: this.title,
            course_description: this.course_description
          })
        });

        window.location.reload()
      }
    }
  }).mount('#app');
</script>
{% endblock javascripts %}